@font-face {
    font-family: OpenSans;
    src: (assets\fonts\fonts\OpenSans);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: clamp(8rem, 6vw, 12rem);
}
h2 {
    font-size: clamp(3rem, 4vw, 4.8rem);
}
h3 {
    font-size: clamp(2.5rem, 3.3vw, 4rem);
}
h4 {
    font-size: clamp(2.8rem, 3.2vw, 3.8rem);
}
h5 {
    font-size: clamp(4rem, 4vw, 5.5rem);
}
h6 {
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}
p,
label {
    font-size: clamp(2rem, 2vw, 2rem);
}
a,
li {
    font-size: clamp(2rem, 2vw, 2rem);
}

.wrapper {
    background-color: black;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

h1,
h5 {
    color: #e6b325;
    margin-bottom: 1.5rem;
}

.search {
    width: 90vw;
    margin: auto;
}

.containerSearch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    width: 300px;
    margin: auto;
    margin-bottom: 4vw;
}

form {
    display: flex;
    justify-content: space-between;
}

form input:first-of-type {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    padding-left: 0.5rem;
}

form input:last-of-type {
    width: 25%;
    border-radius: 5px;
}
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
form .innerContainer {
    display: flex;
    justify-content: space-between;
}

.innerContainer {
    display: flex;
    justify-content: space-between;
}

button {
    width: 30%;
    border-radius: 5px;
}

/* #################### Output ################### */

.output {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 3fr));

    gap: 2rem;
    width: 90%;
    margin: auto;
}

.tile {
    background-color: #a87c7c;
    background-color: #232d3f;
    display: flex;
    flex-direction: column;
    grid-auto-rows: 1fr;
    text-align: center;
    gap: 1rem;

    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e6b325;
}

.tile:hover {
    filter: invert(0.05);
}

.tile h2 {
    color: #e6b325;
    margin-bottom: 1rem;
}

.tile h3 {
    color: #e6b325;
    margin-bottom: 1rem;
}

.tile h2:hover,
.tile h4:hover,
.tile h3:hover,
.tile p:hover {
    transition: 500ms;
    transform: scale(1.1);
    filter: brightness(1);
}

.tile p:hover,
.tile h4:hover {
    filter: invert(1);
}

.rating {
    font-weight: 700;
    font-size: clamp(3rem, 3.5vw, 4rem);
}

/* ################### Footer ##################### */

footer {
    padding: 3rem;
}

footer p {
    padding: 5rem;
    text-align: center;
    color: white;
}

.spanRed {
    transition: 300ms;
    color: red;
}
